.project {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid #191919;
  border-radius: 20px;
  overflow: hidden;
}

.project-browser {
  height: fit-content;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-img {
  height: 100%;
}

.project-img:hover {
  opacity: 0.2;
}
.project-name {
  width: 100%;
  margin-top: 5px;
  color: black;
  background-color: rgba(255, 0, 0, 0);
}

.project-icon-container {
  padding-right: 0;
  margin-top: 4px;
}

.icon {
  background-color: rgba(255, 0, 0, 0);
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .project {
    justify-content: center;
    align-items: center;
    margin-left: 13%;
    width: 75%;
    height: 20vh;
  }
}
