.project-list {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-list-texts {
  width: 65%;
}

.project-list-title {
  font-style: 50px;
  font-size: 60px;
  font-weight: 600;
}

.project-list-description {
  margin: 20px 0px;
  font-size: 25px;
}

.project-list-listing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .project-list-title {
    margin-top: 40%;
  }
}

@media screen and (max-width: 480px) {
  .project-list {
    margin-top: 80%;
    padding: 10px;
  }

  .project-list-texts {
    width: 100%;
  }

  .project-list-description {
    display: none;
  }
}
